<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @memory.description %>
</p>

<% if @memory.user == current_user %>
	<%= link_to 'Edit', edit_memory_path(@memory) %> |
<% end %>
<%= link_to 'Back', memories_path %>
